body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    display: flex;
    background-color: cornflowerblue;
    flex-direction: column;
    height: 400px;
    width: 250px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 5px;

}
input{
    height: 50px;
    width:100%;
    margin-bottom:20px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 30px;

}
.buttons{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 230px;
    justify-content: center;
    gap: 5px;
}
button{
    height: 60px;
    width: 50px;
    background-color: grey;
    font-size: 20px;
    color: aqua;
    border: 1px solid grey;
    border-radius: 900px;

}
.signs{
    font-size: 30px;
    font-weight: 50px;
    background-color: whitesmoke;
    color:tomato;
}
.signs:hover{
    background-color: black;
    color: white;
}
#root,#squared,#power{
    background-color: aqua;
    color: black;
}
#root:hover,#squared:hover,#power:hover{
    color: white;
    
}
#clear{
background-color: brown;
color: black;

}
#clear:hover{
    color: white;
}
button:hover{
    background-color: white;
    color: black;
    opacity: 0.8;
}
#equals{
    background-color: blue;
    color: black;
}
#equals:hover{
opacity: 0.8;
color: white;    
}
button:hover{
    border: 1px solid black;
}